<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center margin-vertical *ngIf="noPinSet;else CodeAanmaken">Maak pincode aan</div> 
    <ng-template #CodeAanmaken><div text-center margin-vertical>Voer pincode in</div></ng-template>
  
  <div *ngIf="noCompletePin;else defaultRadioPinButtons" text-center margin-vertical>
    <button *ngIf="Off1;else other_on1" ion-button icon-only clear color="danger"><ion-icon name="radio-button-off"></ion-icon></button>
      <ng-template #other_on1><button ion-button icon-only clear color="danger"><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
    <button *ngIf="Off2;else other_on2" ion-button icon-only clear color="danger"><ion-icon name="radio-button-off"></ion-icon></button>
      <ng-template #other_on2><button ion-button icon-only clear color="danger"><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
    <button *ngIf="Off3;else other_on3" ion-button icon-only clear color="danger"><ion-icon name="radio-button-off"></ion-icon></button>
      <ng-template #other_on3><button ion-button icon-only clear color="danger"><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
    <button *ngIf="Off4;else other_on4" ion-button icon-only clear color="danger"><ion-icon name="radio-button-off"></ion-icon></button>
      <ng-template #other_on4><button ion-button icon-only clear color="danger"><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
   </div>
   <ng-template #defaultRadioPinButtons>
   <div text-center margin-vertical>
      <button *ngIf="Off1;else other_on1" ion-button icon-only clear><ion-icon name="radio-button-off"></ion-icon></button>
        <ng-template #other_on1><button ion-button icon-only clear><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
      <button *ngIf="Off2;else other_on2" ion-button icon-only clear><ion-icon name="radio-button-off"></ion-icon></button>
        <ng-template #other_on2><button ion-button icon-only clear><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
      <button *ngIf="Off3;else other_on3" ion-button icon-only clear><ion-icon name="radio-button-off"></ion-icon></button>
        <ng-template #other_on3><button ion-button icon-only clear><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
      <button *ngIf="Off4;else other_on4" ion-button icon-only clear><ion-icon name="radio-button-off"></ion-icon></button>
        <ng-template #other_on4><button ion-button icon-only clear><ion-icon name="radio-button-on"></ion-icon></button></ng-template>
     </div>
    </ng-template>

  <!--   <ion-item>
  <ion-input type="tel" maxlength="5" size="5"></ion-input>
  </ion-item> -->
  <div text-center>
  <ion-grid no-padding style="width: 80%">
    <ion-row>
      <ion-col><button ion-button round outline large (click)="insertPin(1)">1</button></ion-col>
      <ion-col><button ion-button round outline large (click)="insertPin(2)">2</button></ion-col>
      <ion-col><button ion-button round outline large (click)="insertPin(3)">3</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button round outline large (click)="insertPin(4)">4</button></ion-col>
      <ion-col><button ion-button round outline large (click)="insertPin(5)">5</button></ion-col>
      <ion-col><button ion-button round outline large (click)="insertPin(6)">6</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button round outline large (click)="insertPin(7)">7</button></ion-col>
      <ion-col><button ion-button round outline large (click)="insertPin(8)">8</button></ion-col>
      <ion-col><button ion-button round outline large (click)="insertPin(9)">9</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><button ion-button round outline large (click)="insertPin(0)">0</button></ion-col>
      <ion-col><button ion-button icon-only clear large (click)="clearPinCode()"><ion-icon name="backspace"></ion-icon></button></ion-col>
    </ion-row>
  </ion-grid>
</div>

  <div>
      <div *ngIf="noPinSet;then content else other_content">here is ignored</div>    
      <ng-template #content><button ion-button clear small (click)="setFirstCode()">Code aanmaken</button></ng-template>
      <ng-template #other_content><button ion-button full (click)="chkInlogCode()">Aanmelden</button>
        <button ion-button clear small (click)="clearData()">Wachtwoord vergeten?</button></ng-template>  
</div>
</ion-content>
